body {
  background-color: rgb(39 39 42);
  color: rgb(255 255 255);
  display: grid;
  margin: 0;
}

body.horizontal {
  grid-template-rows: 50px calc(100vh - 50px);
  grid-template-columns: 50vw 50vw;
}

body.vertical {
  grid-template-rows: 50px calc((100vh - 50px) / 2) calc((100vh - 50px) / 2);
  grid-template-columns: 100vw;
}

.circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #eee;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
  background: conic-gradient(
    #3b82f6 0deg 90deg,
    #60a5fa 90deg 180deg,
    #93c5fd 180deg 270deg,
    #bfdbfe 270deg 360deg
  );
}

.horizontal .circle {
  top: calc(50px + (100vh - 50px - 30px) / 2);
  left: calc((100vw - 30px) / 2);
}

.vertical .circle {
  top: calc(50px + (100vh - 50px - 30px) / 2);
  left: calc((100vw - 30px) / 2);
}

.tabs {
  display: flex;
  background: #2e2e2e;
  align-items: center;
}

.horizontal .tabs {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.vertical .tabs {
  grid-column: 1;
  grid-row: 1;
}

.tab {
  display: flex;
  align-items: center;
  background: #2e2e2e;
}

.tab-btn {
  padding: 8px 12px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #d4d4d4;
}

.tab-btn.active {
  background: #444;
}

.close-btn {
  padding: 8px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #ff6b6b;
}

.add-btn {
  margin-left: auto;
  padding: 8px 16px;
  cursor: pointer;
  background: #1e1e1e;
  border: none;
  color: #00ff95;
}

.textarea-container {
  display: flex;
}

.horizontal .textarea-container {
  width: 50vw;
  grid-row: 2;
  grid-column: 1;
}

.textarea-container textarea {
  flex: 1;
  resize: none;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
  background-color: #1e1e1e;
  color: #d4d4d4;
  border: none;
  outline: none; 
}

.svg-container {
  display: flex;
}

.horizontal .svg-container {
  width: 50vw;
  grid-row: 2;
  grid-column: 2;
}

.vertical .svg-container {
  width: 100vw;
  grid-row: 2;
  grid-column: 1;
}

svg {
  flex: 1;
}
